{# templates/account/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Mon compte</h1>

{# <img src="{{app.user.img_profil}}" alt=""> #}

<p>Nom d'utilisateur : {{ app.user.pseudo }}</p>
<img src="{{ asset('uploads/images/' ~ app.user.ImgProfil|default('default.png')) }}" alt="Image de profil">
<p>Email : {{ app.user.email }}</p>
<p>Role : {{ app.user.roles[0] }}</p>


{# Ajoutez ici d'autres champs que vous voulez afficher #}
{% endblock %}