{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
<h1>Produit</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ produit.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ produit.titre }}</td>
        </tr>
        <tr>
            <th>Auteur</th>
            <td>{{ produit.auteur }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ produit.description }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ produit.date ? produit.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Heure</th>
            <td>{{ produit.heure ? produit.heure|date('H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Img_produit</th>
            <td><img src="{{ asset('uploads/images/' ~ produit.ImgProduit) }}" alt=""></td>
        </tr>
        <tr>
            <th>Nb_achat</th>
            <td>{{ produit.nbAchat }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ produit.prix }}</td>
        </tr>
    </tbody>
</table>

<button onclick="confirmAddToCart('{{ path('app_panier_add', {'id': produit.id}) }}')">Ajouter au panier</button>

<a href="{{ path('app_produit_index') }}">Retour à la liste</a>

{% if app.user and app.user.id == produit.user.id %}
<a href="{{ path('app_produit_edit', {'id': produit.id}) }}">Modifier</a>
{% endif %}

{# {% include('produit/_delete_form.html.twig') %} #}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function confirmAddToCart(url) {
        Swal.fire({
            title: 'Voulez-vous aller au panier ou continuer vos achats ?',
            showDenyButton: true,
            confirmButtonText: `Aller au panier`,
            denyButtonText: `Continuer les achats`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                // Si l'utilisateur clique sur "Aller au panier", redirigez-le vers la page du panier
                window.location.href = url;
            } else if (result.isDenied) {
                // Si l'utilisateur clique sur "Continuer les achats", rechargez la page actuelle
                window.location.reload();
            }
        })
    }
</script>

{% endblock %}